{% load allauth i18n %}
{%load static%}
<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
<link rel="stylesheet" href="{% static 'css/logout.css'%}">
<title>Sair</title>
<main>
{% block content %}
<img class ="logo"src="{%static 'img/logoQuesto.png'%}" alt="Logo" height="100">
    <h1>{% trans 'Are you sure you want to sign out?' %}</h1>
    {% url 'account_logout' as action_url %}
    <img src="{%static 'img/logout.svg'%}" alt="Tem certeza que deseja sair da conta ?" height="400">
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'Sign Out' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    <a class="btn-voltar "href="{%url 'profile'%}">voltar</a>
{% endblock content %}
</main>
