{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{%static 'css/password_reset.css'%}">
    <title>Esqueceu sua Senha?</title>
</head>
<body>
    <div class="main">
    {% load i18n allauth account %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% url 'account_reset_password' as reset_url %}
    <img src="{%static 'img/reset-password-animate.svg'%}" alt="reset password" width="700px">
    <div class="form">
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'Redefinir Senha' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    <div class="links-urls">
        <div class="item">
            <p>Não possui conta?  </p>
            <a href="{{ signup_url }}"> Cadastra-se</a>
        </div>
    </div>
    </div>
</div>
</body>
</html>