@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.logo{
    position:absolute;
    top: 10px;
    left: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1f1e1e;
}
.container h1{
    color: #bebdbd;
    margin-bottom: 20px;
}
.container p{
    color: #bebdbd;
    margin-bottom: 20px;
}
button{
    background-color: #ac6cff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #1f1e1e;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .container{
        padding:30px;
    }
}