@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

*{
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
}

body {
    background-color: #fff;
}

/*************************************** HEADER ***************************************/
.navbar {
    background-color: #ac6cff;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0px 5px 20px -12px #2a0954;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 40px; 
    text-decoration: none;
}

.navbar .nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.navbar-right {
    display: flex;
    justify-content: center; 
    flex-basis: 20%;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #2a0954; 
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.button {
    background-color: #1E1428;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.navbar .logo img {
    width: 90px;
    height: 90px;
}

.nav-links.active {
    display: flex !important;
}
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .nav-links.active {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #ac6cff;
        box-shadow: 0px 5px 20px -12px #2a0954;
    }
    .nav-links.active .nav-link {
        display: block;
        text-align: center;
        padding: 10px 0;
    }
    .navbar-right {
        display: flex;
        justify-content: center;
        flex-basis: 20%;
    }
}

/*************************************** INICIO ***************************************/
.container-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #ac6cff;
}

.texto-principal-inicio h1 {
    font-size: 3em; 
    color: #333;
    margin-bottom: 20px;
}

.texto-principal-inicio p {
    font-size: 1.25em; 
    color: #666;
    margin-bottom: 40px;
}

.inicio-button .button {
    font-size: 1em;
    padding: 10px 20px;
}

.inicio-button a{
    text-decoration: none;
}
/*************************************** FUNCIONALIDADES ***************************************/
.container-funcionalidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;;
}
  
.texto-principal-funcionalidades h1 {
    font-size: 3em;
    color: #333;
    margin-top: 100px;
}
  
.texto-principal-funcionalidades p {
    font-size: 1.25em; 
    color: #666;
    margin-bottom: 40px;
}

.carrossel_funcionalidade {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .button_fun {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px -12px #2a0954;
    padding: 10px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
  }
  
  .button_fun img {
    width: 50px;
    height: 50px;
  }
  
  .box-fun {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 20px;
  }
  
  .img-fun {
    display: none;
  }
  
  .img-fun img {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px -12px #2a0954;
  }
  
  .img-fun.active {
    display: block;
  }
  

/*************************************** PROVAS ***************************************/
.container-provas{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.texto-principal-provas h1{
    font-size: 3em;
    color: #000;
    margin-top: 120px;
}

.texto-principal-provas p{
    font-size: 1.25em; /* Smaller font size for the subtitle */
    color: #666;
    margin-bottom: 40px;
}

.container-prova{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.box-prova {
    position: relative;
    width: auto;
    height: 270px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
   /* background-color: #ac6cff; */
    border-radius: 10px;
}

.box-prova img {
    width: 300px;
    height: 100%;
    padding: 10px 10px;
}

/*************************************** DESENVOLVEDORES ***************************************/
.container-desen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.texto-principal-desen h1 {
    font-size: 3em;
    color: #333;
    margin-top: 120px;
}

.texto-principal-desen p {
    font-size: 1.25em;
    color: #666;
    margin-bottom: 40px;
}

.row-desen {
    display: flex;
    flex-direction: row; /* Defina a direção para linha */
    flex-wrap: wrap; /* Permitir quebra de linha */
    justify-content: center; /* Centralizar os itens */
    gap: 20px; /* Adicionar espaço entre os itens */
    width: 100%;
    max-width: 1200px; /* Opcional: limitar a largura máxima */
    padding: 20px;
}

.colmun-desen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px; /* Definir uma largura fixa para cada coluna */
    background-color: #ac6cff;
    gap: 10px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.img-desen img {
    width: 100px; /* Ajustar o tamanho conforme necessário */
    height: 100px; /* Garantir que a altura seja a mesma para um círculo perfeito */
    border-radius: 50%;
}

.text-desen h1 {
    font-size: 1.5em; /* Ajustar o tamanho da fonte */
    color: #fff;
    text-align: center;
    justify-items: center;
}

.text-desen p {
    font-size: 1em; /* Ajustar o tamanho da fonte */
    color: #fff;
    text-align: center;
}

/*************************************** PLATAFORMA ***************************************/
.container-esc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.texto-principal-esc h1 {
    font-size: 3em;
    color: #333;
    margin-top: 120px;
}

.texto-principal-esc p {
    font-size: 1.25em;
    color: #666;
    margin-bottom: 40px;
}

.row-escolhas {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* Espaço entre a imagem e os campos */
    width: 80%; /* Centraliza o conteúdo dentro da largura disponível */
}

.coluna-imagem-escolhas {
    flex-shrink: 0; /* Garante que a coluna da imagem não encolha */
}

.coluna-imagem-escolhas img {
    max-width: 65%;
    height:auto;
}

.container-escolhas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.escolhas-cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.campo-escolha {
    display: flex;
    align-items: center;
    background-color: #ac6cff;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 100%;
}

.imagem-escolhas {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}

.imagem-escolhas img {
    display: block;
    max-width: 40px;
    height: auto;
}

.texto-escolhas p {
    margin: 0;
}



/*************************************** FOOTER ***************************************/
footer{
    background-color: #ac6cff;
    text-align: center;
    height: 100%;
    padding: 10px;
}

footer h1{
    font-size: 15px;
}