{% extends "side_bar.html" %}

{% block title %}
Exams
{% endblock %}

{% block head %}
<style>
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 20px;
    }

    .main {
        display: flex;
        height: 100vh;
    }

    .container {
        padding: 20px;
        width: 100%;
        border-radius: 5px;
        align-items: center;
    }

    .button {
        background-color: #6a0dad;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px;
        border-radius: 10px;
        cursor: pointer;
    }

    .button:hover {
        background-color: #ae81d6;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1 style="color: #fff;">Escolha o nível de ensino</h1><br>
    {% for niveis in niveis %}
    <a href="{% url 'vestibulares' niveis.pk %}">
        <h2>{{ niveis.ensino }}</h2>
    </a>
    {% endfor %}
</div>
{% endblock %}