{% extends "side_bar.html" %}

{% block title %}
Exams
{% endblock %}

{% block head %}
<style>
    * {
        box-sizing: border-box;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 20px;
    }

    .main {
        display: flex;
        height: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title {
        width: 100%;
        display: flex;
    }

    .container {
        font-family: 'Poppins', sans-serif;
        padding: 20px;
        color: #fff;
        width: 100%;
        border-radius: 5px;
        align-items: center;
    }

    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 10px;
    }

    .exams {
        width: 100%;
        overflow-y: auto;
    }

    .hidden {
        display: none;
    }

    .folder {
        font-weight: bold;
        color: #000;
    }

    .hierarquia {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .folder-item {
        display: flex;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f9f9f9;
        padding: 5px;
        margin-right: 15px;
        margin: 5px;
        cursor: pointer;
    }

    li {
        list-style: none;
    }

    .container a {
        color: #007bff;
        text-decoration: none;
    }

    .container a:hover {
        text-decoration: underline;
    }

    .folder:hover {
        color: #555;
    }
</style>
{% endblock %}

{% block content %}

<div class="container">


    <div class="header">
        <h1>Vestibulares</h1>
    </div>
    <div class="main">

        <div class="exams">
            <ul>
                {% for nivel in niveis %}
                <li class="folder-item" style="display: flex;  background-color: #6a0dad;"
                    onclick="toggleFolder('nivel_{{ forloop.counter }}', event)">
                    <div class="hierarquia" id="nivel_{{ forloop.counter }}">
                        <span class="folder" style="color: #fff;">{{ nivel.ensino }}</span>
                        <ul class="hidden">
                            <div style="display: inline-flex; flex-wrap: wrap;">
                                {% for vestibular in nivel.vestibular_set.all %}
                                <li class="folder-item"
                                    style="display: flex; align-items: center; min-height: 300px; height: max-content; background-color: #ae81d6;"
                                    id="vestibular_{{ forloop.parentloop.counter }}_{{ forloop.counter }}"
                                    onclick="toggleFolder('vestibular_{{ forloop.parentloop.counter }}_{{ forloop.counter }}', event)">
                                    <div class="hierarquia" style="align-items: center;">
                                        <img class="folder" style="max-width: 165px; height: auto; margin: 20px;"
                                            src="{{ vestibular.urlImg }}">
                                        <ul class="hidden">
                                            {% for prova in vestibular.prova_set.all %}
                                            <li class="folder-item" style="justify-content: center;"
                                                id="prova_{{ forloop.parentloop.parentloop.counter }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}"
                                                onclick="toggleFolder('prova_{{ forloop.parentloop.parentloop.counter }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}', event)">
                                                <div class="hierarquia">
                                                    <span class="folder"
                                                        style="display: flex; justify-content: center;">{{ prova.titulo }}</span>
                                                    <ul class="hidden">
                                                        {% for caderno in prova.caderno_set.all %}
                                                        <li class="folder-item" style="justify-content: center;">
                                                            <div class="hierarquia">
                                                                <a target="_blank" href="{{ caderno.urlProva }}">{{ caderno }}</a>
                                                                <a target="_blank"
                                                                    href="{{ caderno.correcao.urlCorrecao }}">{{ caderno.correcao }}</a>
                                                            </div>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                                {% endfor %}
                            </div>
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>



<script>
    function toggleFolder(elementId, event) {
        event.stopPropagation();
        var divElement = document.getElementById(elementId);
        var ulElement = divElement.querySelector('ul');
        ulElement.classList.toggle("hidden");
        if (!ulElement.classList.contains("hidden")) {
            var children = ulElement.querySelectorAll('.folder + ul');
            children.forEach(function (child) {
                child.classList.add("hidden");
            });
        }
    }
</script>

{% endblock %}