{% extends 'side_bar.html' %}
{% load static %}

{% block head %}
<style>
    * {
        box-sizing: border-box;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 20px;
    }

    .main {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .container {
        padding: 20px;
        color: #fff;
        width: 100%;
        border-radius: 5px;
        align-items: center;
    }

    .deck {
        display: flex;
        flex-direction: column;
        align-items: center;
        word-break: break-word;
        text-align: center;
        width: 175px;
        color: #000;
        height: 200px;
        background-color: #d9d9d9;
        border-radius: 5px;
        margin: 7px;
        padding: 5px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    h3 {
        font-weight: 600;
    }

    .btn-save {
        height: 30px;
        width: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7ebd53;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
    }

    .btn-save:hover {
        background-color: #f0f0f0;
        color: #000;
    }

    .btn-container {
        display: flex;
        float: right;
    }

    .btn-newform {
        height: 40px;
        width: 40px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7ebd53;
        color: #fff;
        border-radius: 15px;
        cursor: pointer;
        font-size: 25px;
    }

    .btn-newform:hover {
        background-color: #f0f0f0;
        color: #000;
    }

    .modal-form {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: opacity 0.3s ease-in-out;
        transform: scale(0.9);
    }

    .modal-content {
        background-color: #28232d;
        color: #fff;
        margin: 7% auto;
        border-radius: 10px;
        padding: 20px;
        border: 1px solid #888;
        width: 23%;
        animation: modal-in 0.3s ease-in-out;
    }

    .form-control {
        width: 100%;
        padding: 3px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .fechar {
        color: #fff;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin-top: -10px;
        margin-left: -20px;
    }

    .fechar:hover,
    .fechar:focus {
        color: #aaa;
        text-decoration: none;
        cursor: pointer;
    }

    .deck-form input[type="text"],
    .deck-form textarea {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 100%;
    }

    textarea {
        resize: none;
    }

    .container-decks {
        margin-top: 10px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    @keyframes modal-in {
        from {
            opacity: 0;
            transform: scale(0.9);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="header">
        <h1 style="color: #fff;">Meus Baralhos</h1>
        <div class="btn-container">
            <div id="btnModalForm" class="btn-newform">
                <i class="fas fa-plus"></i>
            </div>
        </div>
    </div>
    <div class="container-decks">
        {% if not decks %}
        <div style="text-align: center;width: 100%;">
            <img src="{% static 'img/no-data.svg' %}" width="450" height="450" alt="mulher estudando">
            <h1>Parece que ainda não tem nenhum baralho</h1>
        </div>
        {% else %}
        {% for deck in decks %}
        <a style="color: inherit; text-decoration: none;" href="{% url 'flashcards_details' deck.pk %}">
            <div class="deck">
                <h3>{{ deck.nome }}</h3>
                <h4>{{ deck.descricao }}</h4>
            </div>
        </a>
        {% endfor %}
        {% endif %}
    </div>
</div>

<div id="modalForm" class="modal-form">
    <div class="modal-content">
        <span class="fechar">&times;</span>
        <form method="post">
            <h2>Criar Baralho</h2>
            {% csrf_token %}
            {{ deck_form }}
            <br>
            <div class="btn-save">
                <input class="btn-save" type="submit" value="Salvar">
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var btnModalForm = document.getElementById("btnModalForm");
        var modalForm = document.getElementById("modalForm");

        btnModalForm.onclick = function () {
            modalForm.style.display = "block";
        }

        function closeAddModal() {
            modalForm.style.display = "none";
        }

        document.querySelector('.fechar').onclick = function () {
            closeAddModal();
        }

        window.onclick = function (event) {
            if (event.target == modalForm) {
                closeAddModal();
            }
        }
    });
</script>
{% endblock %}
