{% extends "side_bar.html" %}
{% load static %}

{% block title %}
Funcionalidades
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/funcionalidades.css' %}" />
{% endblock %}

{% block content %}
<div class="container-funcionalidades" id="funcionalidades">
    <div class="texto-principal-funcionalidades">
        <h1>Funcionalidades</h1>
    </div>
  
    <div class="carrossel_funcionalidade">
        <div class="button_fun" onclick="showFeature('calendario_fun')">
            <a href="#calendario_fun" class="fun_link">
                <img src="{% static 'img/funcionalidades/calendario.png' %}" alt="CALENDARIO-ICON" />
            </a>
        </div>
      
        <div class="button_fun" onclick="showFeature('planner_fun')">
            <a href="#planner_fun" class="fun_link">
                <img src="{% static 'img/funcionalidades/planner.png' %}" alt="PLANNER-ICON" />
            </a>
        </div>
      
        <div class="button_fun" onclick="showFeature('prova_fun')">
            <a href="#prova_fun" class="fun_link">
                <img src="{% static 'img/funcionalidades/provas.png' %}" alt="PROVA-ICON" />
            </a>
        </div>
      
        <div class="button_fun" onclick="showFeature('flashcard_fun')">
            <a href="#flashcard_fun" class="fun_link">
                <img src="{% static 'img/funcionalidades/flashcard.png' %}" alt="FLASHCARD-ICON" />
            </a>
        </div>
      
        <div class="button_fun" onclick="showFeature('redacao_fun')">
            <a href="#redacao_fun" class="fun_link">
                <img src="{% static 'img/funcionalidades/redacao.png' %}" alt="REDAÇÃO-ICON" />
            </a>
        </div>
      
        <div class="button_fun" onclick="showFeature('blocodenotas_fun')">
            <a href="#blocodenotas_fun" class="fun_link">
                <img src="{% static 'img/funcionalidades/blocodenotas.png' %}" alt="BLOCO-DE-NOTAS-ICON" />
            </a>
        </div>
    </div>
  
    <div class="box-fun">
        <div class="feature-content" id="calendario_fun">
            <img src="{% static 'img/home/calendario-fun.png' %}" alt="CALENDARIO" />
            <p>Calendario serve para você se organizar em datas importantes e datas de provas.</p>
        </div>
        <div class="feature-content" id="planner_fun">
            <img src="{% static 'img/home/planner-fun.png' %}" alt="PLANNER" />
            <p>Planner para organizar as atividades que deve ser executada durante a semana.</p>
        </div>
        <div class="feature-content" id="prova_fun">
            <img src="{% static 'img/home/provas-fun.png' %}" alt="PROVAS" />
            <p>Provas com gabatiro de varias univerdidades e escolas para auxilar nos estudos.</p>
        </div>
        <div class="feature-content" id="flashcard_fun">
            <img src="{% static 'img/home/flashcard-fun.png' %}" alt="FLASHCARD" />
            <p>FlashCards para ajudar a decorar formulas e outras respostas importante.</p>
        </div>
        <div class="feature-content" id="redacao_fun">
            <img src="{% static 'img/home/redacao-fun.png' %}" alt="REDAÇÃO" />
            <p>Redação com temas sortidos para treinar a escrita.</p>
        </div>
        <div class="feature-content" id="blocodenotas_fun">
            <img src="{% static 'img/home/blocodenotas-fun.png' %}" alt="BLOCO DE NOTAS" />
            <p>Bloco de notas para informações importantes.</p>
        </div>
    </div>
</div>

<script>
    function showFeature(featureId) {
        document.querySelectorAll('.feature-content').forEach(function(el) {
            el.classList.remove('active');
        });
        document.getElementById(featureId).classList.add('active');
    }
</script>
{% endblock %}
