{% extends "side_bar.html" %}
{% load static %}

{% block title %}
Funcionalidades
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/funcionalidades.css' %}" />
{% endblock %}

{% block content %} 
<div class="header">
  <button id="create-container">Create Container</button>
</div>

<div class="grid">

</div>

<script>
  const createContainerButton = document.getElementById('create-container');
  const grid = document.querySelector('.grid');

  createContainerButton.addEventListener('click', () => {

    const container = document.createElement('div');
  
    container.className = 'container created';
    const deleteButton = document.createElement('button');
    deleteButton.textContent = 'X';
    deleteButton.className = 'delete-button';
    deleteButton.addEventListener('click', () => {

      grid.removeChild(container);

    });
    container.appendChild(deleteButton);
  
    const input = document.createElement('input');
    input.type = 'text';
    input.value = 'Sem título'; 

    container.appendChild(input);
  
    grid.appendChild(container);
  
    makeDraggable(container);
  
  });
  
  function makeDraggable(element) {
    let pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  
    element.onmousedown = (e) => {
      if (e.target.tagName !== 'INPUT' && e.target.tagName!== 'BUTTON') {
        dragMouseDown(e);
      }
    };
  
    function dragMouseDown(e) {
      e = e || window.event;
      e.preventDefault();
  
      pos3 = e.clientX;
      pos4 = e.clientY;
      console.log(pos3);
  
      document.onmouseup = closeDragElement;
      document.onmousemove = elementDrag;
    }
  
    function elementDrag(e) {
      e = e || window.event;
      e.preventDefault();
  
      const gridRect = grid.getBoundingClientRect();
  
      pos1 = pos3 - e.clientX;
      pos2 = pos4 - e.clientY;
      pos3 = e.clientX;
      pos4 = e.clientY;
  
      let top = (element.offsetTop - pos2);
      let left = (element.offsetLeft - pos1);
  
      if (top < 0) top = 0;
      if (left < 0) left = 0;
      if (top + element.offsetHeight > gridRect.height) top = gridRect.height - element.offsetHeight;
      if (left + element.offsetWidth > gridRect.width) left = gridRect.width - element.offsetWidth;
  
      element.style.top = top + 'px';
      element.style.left = left + 'px';
    }
  
    function closeDragElement() {
      document.onmouseup = null;
      document.onmousemove = null;
    }
  }
  grid.addEventListener('wheel', (e) => {

    e.preventDefault();
  
  
    if (e.deltaY > 0) {
  
      grid.classList.add('unzoomed');
  
      grid.classList.remove('zoomed');
  
    } else {
  
      grid.classList.add('zoomed');
  
      grid.classList.remove('unzoomed');
  
    }
  
  });
</script>
{% endblock %}
