{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'img/favicon.png' %}"
    />
    <title>QUESTO</title>
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <img src="{% static 'img/logoQuesto.png' %}" alt="QUESTO-LOGO" />
      </div>
      <div class="nav-links">
        <a href="#" class="nav-link">Inicio</a>
        <a href="#funcionalidades" class="nav-link">Funcionalidades</a>
        <a href="#provas" class="nav-link">Provas</a>
        <a href="#desenvolvedores" class="nav-link">Desenvolvedores</a>
      </div>
      <div class="navbar-right">
        <a href="{% url 'account_login' %}" class="button">Acessar</a>
      </div>
    </div>

    <div class="container-inicio">
        <div class="texto-principal-inicio">
            <h1>ORGANIZE A SUA MANEIRA DE ESTUDAR EM LUGAR SÓ!</h1>
            <p>Questo é um website que te ajuda a estudar e organizar sua rotina de estudo.</p>
        </div>
        <div class="incio-button">
            <a href="{% url 'account_signup' %}" class="button">Comece agora!</a>
          </div>
    </div>

    <div class="container-funcionalidades" id="funcionalidades">
      <div class="texto-principal-funcionalidades">
        <h1>Funcionalidades</h1>
        <p>As principais funcionalidades que o Questo oferece para você!</p>
      </div>
    
      <div class="carrossel_funcionalidade">
        <div class="button_fun" onclick="showFeature('calendario_fun')">
          <a href="#calendario_fun" class="fun_link">
            <img src="{% static 'img/funcionalidades/calendario.png' %}" alt="CALENDARIO-ICON" />
          </a>
        </div>
        
        <div class="button_fun" onclick="showFeature('planner_fun')">
          <a href="#planner_fun" class="fun_link">
            <img src="{% static 'img/funcionalidades/planner.png' %}" alt="PLANNER-ICON" />
          </a>
        </div>
        
        <div class="button_fun" onclick="showFeature('prova_fun')">
          <a href="#prova_fun" class="fun_link">
            <img src="{% static 'img/funcionalidades/provas.png' %}" alt="PROVA-ICON" />
          </a>
        </div>
        
        <div class="button_fun" onclick="showFeature('flashcard_fun')">
          <a href="#flashcard_fun" class="fun_link">
            <img src="{% static 'img/funcionalidades/flashcard.png' %}" alt="FALSHCARD-ICON" />
          </a>
        </div>
        
        <div class="button_fun" onclick="showFeature('redacao_fun')">
          <a href="#redacao_fun" class="fun_link">
            <img src="{% static 'img/funcionalidades/redacao.png' %}" alt="REDAÇÃO-ICON" />
          </a>
        </div>
        
        <div class="button_fun" onclick="showFeature('blocodenotas_fun')">
          <a href="#blocodenotas_fun" class="fun_link">
            <img src="{% static 'img/funcionalidades/blocodenotas.png' %}" alt="BLOCO-DE-NOTAS-ICON" />
          </a>
        </div>
        
      </div>
    
      <div class="box-fun">
        <div class="img-fun" id="calendario_fun">
          <img src="{% static 'img/home/calendario-fun.png' %}" alt="QUESTO-LOGO" />
        </div>
        <div class="img-fun" id="planner_fun">
          <img src="{% static 'img/home/planner-fun.png' %}" alt="QUESTO-LOGO" />
        </div>
        <div class="img-fun" id="prova_fun">
          <img src="{% static 'img/home/provas-fun.png' %}" alt="QUESTO-LOGO" />
        </div>
        <div class="img-fun" id="flashcard_fun">
          <img src="{% static 'img/home/flashcard-fun.png' %}" alt="QUESTO-LOGO" />
        </div>
        <div class="img-fun" id="redacao_fun">
          <img src="{% static 'img/home/redacao-fun.png' %}" alt="QUESTO-LOGO" />
        </div>
        <div class="img-fun" id="blocodenotas_fun">
          <img src="{% static 'img/home/blocodenotas-fun.png' %}" alt="QUESTO-LOGO" />
        </div>
      </div>
  </div>
    
    

    <div class="container-provas" id="provas">
      <div class="texto-principal-provas">
          <h1>Provas</h1>
          <p>As principais provas que o Questo oferece para você!</p>
      </div>
  

      <div class="container-prova">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/provas/enem-prova.png' %}" class="card-img-top" alt="ENEM-PROVA" />
          <div class="card-body">
            <h5 class="card-title">ENEM</h5>
            <p style="text-align: left;" class="card-text">Inícios Inscrições: 00/00/2024<br>Termino Inscrições: 00/00/2024<br>Valor: 00,00.</p>
          </div>
        </div>
        
          <div class="card" style="width: 18rem;">
            <img style="align-items: center;" src="{% static 'img/provas/fatec-prova.png' %}" class="card-img-top" alt="FATEC-PROVA" />
            <div class="card-body">
              <h5 class="card-title">FATEC</h5>
              <p style="text-align: left;" class="card-text">Inícios Inscrições: 00/00/2024<br>Termino Inscrições: 00/00/2024<br>Valor: 00,00.</p>
            </div>
          </div>

            <div class="card" style="width: 18rem;">
              <img src="{% static 'img/provas/fuvest-prova.png' %}" class="card-img-top" alt="FUVEST-PROVA" />
              <div class="card-body">
                <h5 class="card-title">FUVEST</h5>
                <p style="text-align: left;" class="card-text">Inícios Inscrições: 00/00/2024<br>Termino Inscrições: 00/00/2024<br>Valor: 00,00.</p>
              </div>
            </div>

          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/provas/etec-prova.webp' %}" class="card-img-top" alt="ETEC-PROVA" />
            <div class="card-body">
              <h5 class="card-title">ETEC</h5>
              <p style="text-align: left;" class="card-text">Inícios Inscrições: 00/00/2024<br>Termino Inscrições: 00/00/2024<br>Valor: 00,00.</p>
            </div>
          </div>

      </div>
  </div>

  <div class="container-desen" id="desenvolvedores">
    <div class="texto-principal-desen">
        <h1>Desenvolvedores</h1>
        <p>O que os desenvovedores acharam de fazer esse projeto.</p>
    </div>
    <!-- CARROSSEL-->
  </div>
    <!-- FIM CARROSSEL--> 
 <footer>
      <h1>© Copyright 2024 Questo. Todos os direitos reservados.</h1>
 </footer>
</div>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      showFeature('calendario_fun');
    });
    
    function showFeature(featureId) {
      const features = document.querySelectorAll('.img-fun');
      features.forEach(feature => {
        feature.classList.remove('active');
        if (feature.id === featureId) {
          feature.classList.add('active');
        }
      });
    }
    
    </script>
    
</html>

