{% extends "side_bar.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/planner.css' %}">
{% endblock %}

{% block content %}

<body>
    <div class="container">
        <div class="top">
            <h1>Planner Semanal</h1>

            <div class="btn-container">
                <a class="" id="btnModalForm">
                    <div class="btn-newform">
                        <i class="fas fa-plus"></i>
                    </div>
                </a>
                <a class="" id="btnModalDelet">
                    <div class="btn-delet">
                        <i class="fas fa-trash"></i>
                    </div>
                </a>
            </div>
        </div>

        <div class="days-container">
            {% for dia, planejamentos in planejamentos.items %}
            <div class="day-column" id="{{ dia }}">
                <div class="day-header">
                    <h3>{{ dia|capfirst }}</h3><br>
                </div>
                <div class="day-content">
                    {% for planejamento in planejamentos %}
                    <div class="day-box">
                        <div class="box-name">{{ planejamento.name }}</div>
                        <div> {{ planejamento.hora }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Modal de Adição -->
        <div id="modalForm" class="modal-form">
            <div class="modal-content-form">
                <span class="fechar">&times;</span>
                <h3>
                    <form method="post">
                        <h2>Lembrete</h2>
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <input type="hidden" name="data" id="dataSelecionada">
                        <a type="submit" value="Salvar" style="display: flex; justify-content: center;">
                            <input class="btn-save" type="submit" value="Salvar">
                        </a>
                    </form>
                </h3>
            </div>
        </div>

        <!-- Modal de Exclusão -->
        <div id="modalDelet" class="modal-delet">
            <div class="modal-content-delet">
                <span class="fechar">&times;</span>
                <h2>Confirmar Exclusão</h2>
                <p>Selecione os planejamentos que deseja excluir:</p>
                <form id="formExcluirEvento" method="POST" action="{% url 'deletar_planejamentos' %}">
                    {% csrf_token %}
                    {% for dia, planejamentos in planejamentos.items %}
                    <div id="{{ dia }}">
                        <div class="day-content">
                            {% for planejamento in planejamentos %}
                            <div>
                                <h4 style="font-weight: 500">
                                    <input type="checkbox" id="planejamento{{ planejamento.id }}" name="planejamentos"
                                        value="{{ planejamento.id }}">
                                    <label for="planejamento{{ planejamento.id }}">{{ planejamento.name }}</label>
                                </h4>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <a type="submit" value="Salvar" style="display: flex; justify-content: center;">
                        <input class="btn-save" type="submit" value="Confirmar" id="btnDelet"
                            style="width: 100px; background-color: #b0413e;">
                    </a>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var btnModalForm = document.getElementById("btnModalForm");
            var modalForm = document.getElementById("modalForm");

            btnModalForm.onclick = function () {
                modalForm.style.display = "block";
            }

            var fecharBtn = document.getElementsByClassName("fechar")[0];
            fecharBtn.onclick = function () {
                modalForm.style.display = "none";
            }

            var btnModalDelet = document.getElementById("btnModalDelet");
            var modalDelet = document.getElementById("modalDelet");

            btnModalDelet.onclick = function () {
                modalDelet.style.display = "block";
            }

            var fecharDeletBtn = document.getElementsByClassName("fechar")[1];
            fecharDeletBtn.onclick = function () {
                modalDelet.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modalForm) {
                    modalForm.style.display = "none";
                }
                if (event.target == modalDelet) {
                    modalDelet.style.display = "none";
                }
            }

            var formExcluirEvento = document.getElementById("formExcluirEvento");
            formExcluirEvento.addEventListener("submit", function (event) {
                event.preventDefault();

                var planejamentosSelecionados = [];
                var checkboxes = formExcluirEvento.querySelectorAll('input[type="checkbox"]');
                checkboxes.forEach(function (checkbox) {
                    if (checkbox.checked) {
                        planejamentosSelecionados.push(checkbox.value);
                    }
                });
            });

            var btnConfirmarExclusao = document.querySelector('#modalDelet .btn-save');
            btnConfirmarExclusao.addEventListener('click', function () {
                formExcluirEvento.submit();
            });


            var checkboxes = document.querySelectorAll('#modalDelet input[type="checkbox"]');
            var valoresUnicos = new Set();

            checkboxes.forEach(function (checkbox) {
                if (!valoresUnicos.has(checkbox.value)) {
                    valoresUnicos.add(checkbox.value);
                } else {
                    checkbox.parentNode.style.display = 'none';
                }
            });

            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener('click', function () {
                    var planejamentosSelecionados = new Set();
                    checkboxes.forEach(function (checkbox) {
                        if (checkbox.checked) {
                            planejamentosSelecionados.add(checkbox.value);
                        }
                    });
                    checkboxes.forEach(function (checkbox) {
                        if (checkbox.checked && planejamentosSelecionados.has(checkbox.value)) {
                            checkbox.checked = true;
                        } else {
                            checkbox.checked = false;
                        }
                    });
                });
            });

            var limite = 25;
            function limitarCaracteres(texto, limite) {
                if (texto.length > limite) {
                    return texto.substring(0, limite) + '...';
                } else {
                    return texto;
                }
            }

            var checkboxes = document.querySelectorAll('#modalDelet input[type="checkbox"]');
            checkboxes.forEach(function (checkbox) {
                var textoCheckbox = checkbox.parentNode.querySelector('label').textContent.trim();
                var textoLimitado = limitarCaracteres(textoCheckbox, limite);
                checkbox.parentNode.querySelector('label').textContent = textoLimitado;
            });
            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener('click', function () {
                    var textoCheckbox = checkbox.parentNode.querySelector('label').textContent.trim();
                    var textoLimitado = limitarCaracteres(textoCheckbox, limite);
                    checkbox.parentNode.querySelector('label').textContent = textoLimitado;
                });
            });
        });
    </script>

</body>
{% endblock %}