{% extends "side_bar.html" %}
{%load static%}

{% block title%}
Profile
{%endblock%}

{%block head%}
<link rel="stylesheet" href="{%static 'css/profile.css'%}">
{%endblock%}

{%block content%}
    <div class="container">
        <div class="user">
            <h1>{{request.user.username}}</h1>
            <div class="email-container">
                <h3>E-mail:</h3>
                <h2>{{request.user.email}}</h2>
            </div>
        </div>
        <div class="eventos">
            <h3>próximos eventos:</h3>
            {%if eventos == null%}
                <h4>vc nao tem eventos</h4>
            {%else%}
                {%for evento in eventos %}
                <div class="evento">
                    <h1>{{evento.titulo}}</h1>
                    <h1>{{evento.data}}</h1>
                    <h1>{{evento.hora}}</h1>
                </div>
                {%endfor%}
            {%endif%}
        </div>
        <div class="estatisticas">
            <div class="notes">
                <h1>Quantas anotações você tem ?</h1>
                <h2>{{notes}}</h2>
            </div>
            <div class="decks">
                <h1>Quantos baralhos você tem ?</h1>
                <h2>{{decks}}</h2>
            </div>
        </div>
        <div class="buttons">
            <a href="{% url 'account_logout'%}" style="background-color:#b0413e;">Sair</a>
            <a href="{% url 'account_reset_password' %}"style="background-color:#5e81ac;">Resetar Senha</a>
        </div>
    </div>
    
{%endblock%}
