{% extends 'side_bar.html' %}
{% load static %}

{%block head%}
<link rel="stylesheet" href="{% static 'css/exams.css' %}">
{% endblock %}



{% block content %}
<div class="container">
    <h1 style="color: #fff;">{{ vestibulares.nome }}</h1>

    <div class="title">
        <h3>{{ vestibulares.desc }}</h3>
    </div>

    <ul>
        {% for prova in provas %}
        <li class="folder-item"
            onclick="toggleFolder('prova_{{ forloop.counter }}', event)">
            <div class="hierarquia" id="prova_{{ forloop.counter }}">
                <span class="folder" style="color: #fff;">
                    <h2>{{ prova }}</h2>
                </span>
                <ul class="hidden">
                    {% for caderno in prova.caderno_set.all %}
                    <li class="folder-item" style="background-color: #fff;">
                        <div class="hierarquia">
                            <h3>
                                <a target="_blank" href="{{ caderno.urlProva }}">{{ caderno }}</a><br>
                                <a target="_blank" href="{{ caderno.correcao.urlCorrecao }}">{{ caderno.correcao }}</a>
                            </h3>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<script>
    function toggleFolder(elementId, event) {
        event.stopPropagation();
        var divElement = document.getElementById(elementId);
        var ulElement = divElement.querySelector('ul');
        ulElement.classList.toggle("hidden");
        if (!ulElement.classList.contains("hidden")) {
            var children = ulElement.querySelectorAll('.folder + ul');
            children.forEach(function (child) {
                child.classList.add("hidden");
            });
        }
    }
</script>
{% endblock %}